.deck-item {
  width: 120px;
  height: 120px;
  border: 2px solid rgb(206, 204, 204);
  border-radius: 10px;
  display: flex;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  background-color: white;

  h3,
  h2 {
    margin: 0;
  }

  .colors {
    display: flex;
    flex-direction: row;

    img {
      height: 20px;
      width: 20px;
    }
  }
}

a:link,
a:visited {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

a:hover,
a:active {
  .deck-item {
    background-color: rgb(90, 90, 90);
    color: white;
  }
}
