.deck-item {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  cursor: pointer;
  background-color: rgba(94, 18, 200, 0.23);

  h3 {
    margin: 0;
  }

  .colors {
    display: flex;
    flex-direction: row;
  }
}

a:link,
a:visited {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

a:hover,
a:active {
  .deck-item {
    background-color: purple;
  }
}
