.deck-section {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;

  h3 {
    margin-bottom: 3px;
  }

  .card-row {
    width: 100%;
    display: flex;
    flex-direction: row;

    .card-name {
      a {
        text-decoration: none;
        color: black;

        &:hover {
          color: rgb(97, 97, 97);
        }
      }
    }

    div {
      padding-right: 10px;
    }
  }
}
