$base-color: black;
$secondary-color: white;

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

.homepage {
  @include flex-col;
  align-items: center;

  h1 {
    padding: 3px;
    font-family: "Poppins", sans-serif;
    margin: 5px;
    span {
      color: rgb(80, 80, 133);
      font-family: "Poppins", sans-serif;
    }
  }
  .news-section {
    width: 100%;
    height: 200px;

    .banner {
      display: flex;
      justify-content: center;
      padding: 25px;
    }
  }

  .stats-section {
    @include flex-row;
    width: 75%;
  }
  .top-players,
  .top-cards,
  .top-decks {
    width: 25%;
    margin: 5px;
  }
}
